<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<h1>Log In Form</h1>
	<form method="post">
    <p>
		<label for "username">Username: {{ username_ }}</label><br>
    <label for "username">Change Username:</label><br>
		<input type="text" id="change_username" name="change_username"><br>
    </p>

    <p>
    <label for "bio">Bio: {{ bio_ }}</label><br>
    <label for "bio">Change Bio:</label><br>
		<input type="text" id="change_bio" name="change_bio"><br>
		</p>

    <p>
		<label for "email">Email: {{ email_ }}</label><br>
    </p>

    <p>
    <label for "password">Change Password:</label><br>
		<input type="password" id="password" name="password"><br>
    </p>

		{% with errors = get_flashed_messages() %}
			{% if errors %}
				{% for message in errors %}
					<p>{{ message }}</p>
				{% endfor %}
			{% endif %}
		{% endwith %}
		<input type="submit" id="update" name="update" value="Update">
	</form>
</body>
</html>
