<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<header>
	<ul>
		<li><a href="/forum">Forum</a></li>
		<li><a href="/support_network">Support Network</a></li>
		<li><a href="/leaderboard">Leaderboard</a></li>
		<li><a href="/logout">Logout</a></li>
	</ul>
</header>
<body>
	<h1>{{ name }}</h1>
	<a href= {{ url_for('add_new_post', name=name) }}>Make New Post</a>
	{% for post in posts %}
		<h3>{{ post[4] }}</h3><p>created on {{ post[7] }} by {{ post[2] }}</p>
		{% if not post[5] == "" %}
			<a href={{ post[5] }}>{{ post[5] }}</a>
		{% endif %}
		<p>{{ post[6] }}</p>
	{% endfor %}
</html>