<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<header>
	<ul>
		<li><a href="/forum">Forum</a></li>
		<li><a href="/support_network">Support Network</a></li>
		<li><a href="/leaderboard">Leaderboard</a></li>
		<li><a href="/logout">Logout</a></li>
	</ul>
</header>
<body>
	<h1>Make new post for {{ name }}</h1>
	<form action="#" method="post">
		<label for "title">Title:</label>
		<input type="text" id="title" name="title"><br>
		{% with errors = get_flashed_messages(category_filter=["title_error"]) %}
			{% if errors %}
				{% for message in errors %}
					<p>{{ message }}</p>
				{% endfor %}
			{% endif %}
		{% endwith %}
		<label for "upload">Upload:</label>
		<input type="file" id="upload" name="upload"><br>
		<label for "description">Description (maximum 300 characters):</label><br>
		<textarea id="description" name="description">
		</textarea><br>
		{% with errors = get_flashed_messages(category_filter=["description_error"]) %}
			{% if errors %}
				{% for message in errors %}
					<p>{{ message }}</p>
				{% endfor %}
			{% endif %}
		{% endwith %}
		<input type="submit" id="add" name="add" value="Add Post">
	</form>	
</html>
